.logo-axionphare {
    max-height: 35vh;
}

.corpo-login {
    margin-top: 35vh;
}

#btn-esconder-senha {
    cursor: pointer;
}

#btn-autenticar {
    width: 100%;
}

#btn-autenticar:disabled {
    opacity: 0.7;
}

.btn-loading {
    display: inline-flex;
    align-items: center;
    gap: 4px;
}