* {
    background-color: transparent;
    gap: 0;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5vh;
    padding: 5%;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
}

.title {
    max-width: 50vw;
    font-weight: 400;

    b {
        font-weight: 900;
        color: #02a8ff;
    }
}
